In [2]:
import pandas as pd
import numpy as np
import scipy.stats as stats


df: pd.DataFrame = pd.read_csv('./synthetic_gmv_data_1.1.csv')

agg_df: pd.DataFrame = df.groupby('user_id', as_index=False)['gmv'].sum()

agg_df

           user_id   gmv
0       0001ffmxo2  3766
1       000c2glbkl  2456
2       000c5yxi7t   700
3       000eg9ozf2  5082
4       000h7yt1ve  2539
...            ...   ...
392713  zzygjcccc6  4024
392714  zzysosye5a  2161
392715  zzz477h6q2  1995
392716  zzz7zfdfn0  9539
392717  zzz9ykyfbt   943

[392718 rows x 2 columns]

In [3]:
import math
gmv = agg_df['gmv'].to_numpy()

mean = gmv.mean()
var = gmv.var(ddof=1)

round(mean, 3).item(), round(var, 3).item()


mean, math.sqrt(var)

(np.float64(2750.8467093436), 1909.5099917503012)

In [4]:
agg_df['gmv'].mean()

np.float64(2750.8467093436)

In [25]:
norm = stats.norm(loc=0, scale=1)

alfa = 0.05
betta = 0.2

effect = 0.01 * mean

k = 3

z = (norm.ppf(1 - alfa / 2) + norm.ppf(1 - betta)) ** 2

num = z * (1 + k) * var / effect ** 2 * (1 + 1 / k)
num = math.ceil(num)
num

201706